## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [7]:
num=1
print(num)

1

2) Imprimir el tipo de dato de la variable 8.5

In [8]:
num2=8.5
print(type(num))

<class 'int'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [9]:

print(type(num))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [11]:

nombre="Augusto"

5) Crear una constante que contenga el número Pi

In [12]:
conts=3.14

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [13]:
print(type(conts))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** (número de euler) redondeado a 4 decimales

In [1]:
numerE=2.7183

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [3]:
valor1="True"
valor2=True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [4]:
print(type (valor1))
print(type (valor2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro flotante

In [5]:
suma=14+23.456

11) Realizar una operación de suma de un número definido como string con un entero

In [8]:
numString="54"
suma=4+int(54)

12) Crear una variable que contenga el valor del punto 7 elevado al cubo (potencia de 3)

In [9]:
numeroElevado=numerE**3

20.085939737487003

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [10]:
num1=int(input("ingrese el primer numero para multiplicar"))
num2=int(input("ingrese el segundo numero para multiplicar"))
print(num1*num2)

4

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [11]:
cociente=27/4
print(cociente)

6.75

15) De la división anterior solamente mostrar la parte entera

In [12]:
print(int(cociente))

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [13]:
resto=27%4
print(resto)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16, obtener 27 como resultado

In [14]:
resultado=(4*6)+3
print(resultado)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [15]:
print("2"== 2)
#Porque el "2" es un tipo de dato string y el 2 un int

False

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [16]:
print(int("2")==2)

True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [25]:
#porque para poner un numero decimal se pone con punto y no con coma

3.8

21) Realizar la operación 10 + '10' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
#Porque uno se es tipo entero y otro string
#Si fueran del mimso tipo si daria el mimso resultado

22) Crear una variable que contenga un menú con los elementos MENU: 1 - Pizza, 2 - Empanadas, 3 - Milanesas, 4 - Salir, y luego mostrarlo por pantalla

In [29]:
menu="""
MENU:
1-Pizza
2-Empanadas
3-Milanesas
4-Salir
"""
print(menu)

MENU:
1-Pizza
2-Empanadas
3-Milanesas
4-Salir

23) Crear una lista que contenga los números del 1 al 10

In [30]:
list=[1,2,3,4,5,6,7,8,9,10]

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [31]:
print(list[7])

8

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [33]:
list[2]=14
print(list)

[1, 2, 14, 4, 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [36]:
listTres=[["A","B","C"],["D","E","F"],["G","H","I"]]

27) Imprimir la matriz creada en el punto 26

In [37]:
print(listTres)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [38]:
listTres[1][1]="Z"
print(listTres)

[['A', 'B', 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [39]:
listTres[0][0]=0
listTres[0][1]=1
listTres[0][2]=2

30) Crear una tupla que contenga 5 marcas de ropa

In [40]:
tupla=("Zara","Mango","Levis","Desigual","Tintoretto")

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [41]:
print(tupla[0])

Zara

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [ ]:
#No se puede ya que las tuplas no se pueden modicar

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [42]:
dic={"nombre":"Augusto","apellido":"Riquelme", "edad":19,"hobbies":["Gimnasio", "Videojuegos", "Futbol"] }

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [43]:
print(dic["hobbies"])

['Gimnasio', 'Videojuegos', 'Futbol']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [44]:
dic["edad"]=23
print(dic["edad"])

23